{{> navbar}}

<body class="{{body_class}}">

<h1 class="mt-3" align="center">{{title}} v{{current_version}}</h1>

<div class="w-75" style="float: none; margin: 0 auto;">

    <!--
    <div class="card border-dark mt-4">
        <div class="card-header text-white bg-dark">
            <h4>General</h4>
        </div>
        <div class="list-group list-group-flush">
            <a href="/settings" class="list-group-item list-group-item-action">Settings</a>
        </div>
    </div>
    -->

    <div class="card border-dark mt-4">
        <div class="card-header text-white bg-dark">
            <h4>Scanning</h4>
        </div>
        <div class="list-group list-group-flush">
            <a href="/devices" class="list-group-item list-group-item-action">Devices</a>
            <a href="/instances" class="list-group-item list-group-item-action">Instances</a>
            <a href="/assignments" class="list-group-item list-group-item-action">Auto-Assignments</a>
            <a href="/accounts" class="list-group-item list-group-item-action">Accounts</a>
        </div>
    </div>

    <div class="card border-dark mt-4 mb-5">
        <div class="card-header text-white bg-dark">
            <h4>Miscellanous</h4>
        </div>
        <div class="list-group list-group-flush">
            <a href="/clearquests" class="list-group-item list-group-item-action list-group-item-danger">Clear All Quests</a>
        </div>
    </div>

    <span class="text-center"><b>Start Time:</b> <span id="started-value">{{started}}</span></span>
    <span class="text-center"><b>Uptime:</b> <span id="uptime-value">{{uptime}}</span></span>

</div>
</body>

<script>
let started = $('#started-value').val();
let realStarted = timeSince(new Date(started));
console.log('value:', started);
console.log('realValue:', realStarted);
$('#uptime-value').text(realStarted);
function timeSince(date) {
    let seconds = Math.floor((new Date() - date) / 1000);
    let interval = seconds / 31536000;
    if (interval > 1) {
        return Math.floor(interval) + ' years';
    }
    interval = seconds / 2592000;
    if (interval > 1) {
        return Math.floor(interval) + ' months';
    }
    interval = seconds / 86400;
    if (interval > 1) {
        return Math.floor(interval) + ' days';
    }
    interval = seconds / 3600;
    if (interval > 1) {
        return Math.floor(interval) + ' hours';
    }
    interval = seconds / 60;
    if (interval > 1) {
        return Math.floor(interval) + ' minutes';
    }
    return Math.floor(seconds) + ' seconds';
};
</script>