{{> header}}

<body class="{{body_class}}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown{{#page_is_dashboard}} active{{/page_is_dashboard}}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{nav_dashboard}}{{#page_is_dashboard}}<span class="sr-only">(current)</span>{{/page_is_dashboard}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="/" class="dropdown-item">{{nav_dashboard}}</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">General</h6>
                    <a href="/settings" class="dropdown-item">Settings</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Scanning</h6>
                    <a href="/accounts" class="dropdown-item">Accounts</a>
                    <a href="/assignments" class="dropdown-item">Auto-Assignments</a>
                    <a href="/devices" class="dropdown-item">Devices</a>
                    <a href="/instances" class="dropdown-item">Instances</a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Misc</h6>
                    <a href="/clearquests" class="dropdown-item">Clear All Quests</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
